div#wrapper {
    background-color: #f1f1f1;
}
div.row{
	background-color: #f1f1f1;
}
.remove-indicator {
    padding: 15px;
    cursor: pointer;
}
.edit-indicator {
    padding: 15px;
    cursor: pointer;
}
.ui-state-default {
    border: 1px solid transparent !important;
     background: rgba(246, 246, 246, 0) !important;
    font-weight: normal;
    color: #454545;
}
.ui-state-active {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
     color: #428bca !important;
}
#wpbody-content {
    background-color: white;
}
a.edit-modal-measurement {
    padding: 10px;
}
.edit-targets{
    padding: 10px;
}