@media screen 
  and (min-device-width: 320px)
  and (max-device-width: 640px) {
  .show-chart{
    float:left;
    margin-left:-40px;
  }
}

@media screen 
  and (min-device-width: 640px)
  and (max-device-width: 800px) {
  .show-chart{
    float:right;
    margin-right: -60px;
  }

}
