.sdg-goal:hover {
    box-shadow: 0 1px 8px gray;
}

.sdg-row {
    padding-bottom: 30px;
}

.sdg-goal-page {
    padding-top: 50px;
    min-height: 1200px;
    height: 100%;
    overflow: auto;
}
.sdg-description-part{
  min-height: unset !important;
  padding-top: 50px !important;
}
.sdg-goal-page-01 {
    background-color: #e5233b;;
}

.sdg-goal-page-02 {
   background-color: #dda73a;;
}

.sdg-goal-page-03 {
    background-color: #4ca146;
}

.sdg-goal-page-04 {
    background-color: #c7212f;
}

.sdg-goal-page-05 {
    background-color: #ef402d;
}

.sdg-goal-page-06 {
    background-color: #27bfe6;
}

.sdg-goal-page-07 {
    background-color: #fbc412;
}

.sdg-goal-page-08 {
    background-color: #a31c44;
}

.sdg-goal-page-09 {
    background-color: #f26a2e;
}

.sdg-goal-page-10 {
    background-color: #de1768;
}

.sdg-goal-page-11 {
    background-color: #f89d2a;
}

.sdg-goal-page-12 {
    background-color: #bf8d2c;
}

.sdg-goal-page-13 {
    background-color: #407f46;
}

.sdg-goal-page-14 {
    background-color: #1f97d4;
}

.sdg-goal-page-15 {
    background-color: #59ba47;
}

.sdg-goal-page-16 {
    background-color: #136a9f;
}

.sdg-goal-page-17 {
    background-color: #14496b;
}

.sdg-goal-page h1 {
    color: #373a3c;
}

.sdg-goal-page h2 {
    color: #373a3c;
}

.sdg-goal-page h3 {
    color: #373a3c !important;
}

.sdg-goal-page h4 {
    color: #373a3c !important;
}

.sdg-goal-page h5 {
    color: #373a3c !important;
}

.single-goal-image {
    max-width: 90% !important;
    margin-left: 10px !important;
}

.indicators {
    height: auto;
    padding-left: 50px !important;
    min-height: 844px !important;
    margin-right: 15px;
}

.sdg-title {
    color: white!important;
    font-family: Roboto;
    font-weight: 500;
    font-size: 31pt;
    text-align: left;
    line-height: 40px;
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-transform: none;
}

.sdg-description {
    font-size: 14pt;
    font-family: Roboto;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.indicator-chart-container {
    width: 90%;
}

.indicator-title {
    font-family: Roboto !important;
    font-weight: 500;
    font-size: 20pt !important;
    text-transform: uppercase;
    color: #373a3c;
}

.indicator-description {
    font-family: Roboto !important;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 14pt !important;
    text-transform: none;
    color: #373a3c;
    margin-bottom: 50px !important;

}

.indicator-description-div {
    text-transform: none;
    margin-left: -15px;
}

.indicator-title-div {
    padding-left: 0px !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.show-chart {
    font-family: Roboto;
    background-color: #fff !important;
    border: none;
    color: red;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10pt;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-top: 20px;
}

.sidebar {
    float: left;
    padding: 0;
    width: 25%;
}

div#primary {
    /*width: 75% !important;*/
    float: left;
}

.indicator-chart-description {
    font-size: 16pt !important
}

.white-line {
    padding-left: 40px !important;
    padding-right: 40px !important;
    width: 77%;
    margin-left: 0%;
    float: left;
}

.highcharts-button {
    fill-rule: initial !important;
    fill-opacity: 0 !important;
}

.indicators.row {
    margin-top: 50px;
}

.sdg-main-description {
    text-transform: none;
    padding: 50px;
}

.article-inner {
    margin-top: 0px;
}

.article-content {
    padding: 20px !important;
}

.article-inner {
    padding-top: 0px;
}

span.source-url {
    color: #373a3c;
    font-family: Roboto;
    font-size: 14pt;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
